@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@600&family=Oswald:wght@500&family=Poppins:wght@200&family=Roboto+Condensed:wght@300;400;700&display=swap');

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}

.navbar-container-scrolled {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 1rem 0 #444;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
}

.navbar-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px; /* Уменьшаем расстояние между кнопками */
}

.navbar-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
}

.navbar-logo {
  height: 120px;
  width: 400px;
  margin-left: 40px;
}

li {
  cursor: pointer;
}

li:hover {
  color: #444444;
}

.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-1 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 70%;
  font-weight: 900;
  line-height: 1.5;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 30px 10px;
  margin-right: 15px; /* Уменьшаем правый отступ */
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.6rem 3rem;
}

.btn-1:disabled {
  cursor: default;
}

.btn-1:-moz-focusring {
  outline: auto;
}

.btn-1 svg {
  display: block;
  vertical-align: middle;
}

.btn-1 [hidden] {
  display: none;
}

.btn-1 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.6rem 3rem;
}

.btn-1:hover {
  color: #999;
}

.navbar-container {
  position: relative;
}

.main-page-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.btn-2,
.btn-2 *,
.btn-2 :after,
.btn-2 :before,
.btn-2:after,
.btn-2:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 70%;
  font-weight: 900;
  line-height: 1.5;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 30px 10px;
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.6rem 3rem;
}

.btn-2:hover {
  color: #999;
}
